/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug rules */
.container  {
    border: 2px solid salmon;
    height: 100%;
}

[class^="col"] {
    border: 2px solid rgb(129, 239, 65);
    height: 100%;
    text-align: center;
}

/* my_nav */
.my_nav {
    background-color: #2C3E50;
    /* debug */
    color: white;
    min-height: 50px;
    text-align: center;
}

/* my_jumbotron */
.my_jumbotron   {
    background-color: #19BC9C;
    /* debug */
    min-height: 150px;
    text-align: center;
}

/* my_portfolio */
.my_portfolio   {
    text-align: center;
}


/* my_about */
.my_about   {
    background-color: #19BC9C;
    /* debug */
    text-align: center;
}

.about_title    {
    min-height: 50px;
}

.download_button    {
    min-height: 50px;
}

/* my_contact */
.contact_me {
    /* debug */
    min-height: 50px;
    text-align: center;
}

/* my_footer */
.my_footer {
    color: white;
}

.my_footer_top  {
    background-color: #3B536D;
}

.my_footer_bottom   {
    background-color: #2C3E4F;
}