/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug rules */
.container  {
    height: 100%;
    /* debug */
    border: 2px solid salmon;
}

[class^="col"] {
    /* border: 2px solid rgb(129, 239, 65); */
    height: 100%;
    text-align: center;
}

/* my_nav */
.my_nav {
    background-color: #2C3E50;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* debug */
    color: white;
    height: 10vh;
    text-align: center;
}

.navbar {
    height: 100%;
    color: white;
}


.navbar-collapse    {
    flex-grow: 0;
}

/* my_jumbotron */
.my_jumbotron   {
    background-color: #19BC9C;
    padding: 10px;
    margin-top: 10vh;
    /* debug */
    height: 90vh;
    text-align: center;
}

/* my_portfolio */
.my_portfolio   {
    text-align: center;
    padding: 10px;
}


/* my_about */
.my_about   {
    background-color: #19BC9C;
    padding: 10px;
    /* debug */
    text-align: center;
}

.about_title    {
    min-height: 50px;
}

.download_button    {
    min-height: 50px;
}

/* my_contact */
.my_contact {
    padding: 10px;
}

.contact_me {
    /* debug */
    min-height: 50px;
    text-align: center;
}

/* my_footer */
.my_footer {
    color: white;
    padding: 10px;
}

.my_footer_top  {
    background-color: #3B536D;
}

.my_footer_bottom   {
    background-color: #2C3E4F;
    text-align: center;
}